---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
{# prettier-ignore #}
Sitemap: {{ site.url }}/sitemap.xml
User-agent: * Allow: / Disallow: /thank-you/ Sitemap: {{ site.url }}/sitemap.xml
